/* Common */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
}

:root {
    /* Dimensions */
    --site_header-height: 80vh;
    --site_main-section-height: 100vh;
    --site_footer-height: 80vh;
    /* Font-size */
    --site_header-header-font-size: 11px;
}

a {
    text-decoration: none;
}


/* Utility */

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.pos-rel {
    position: relative;
}

.rounded-bar {
    background-color: white;
    border-radius: 50px;
    padding: 10px;
}

.rounded-bar a {
    color: black;
}


/********
Site_header
*********/

#site_header {
    background-image: url("../img/jumbo.png");
    background-size: cover;
    background-position: center;
    height: var(--site_header-height);
}


/* site_header-header */

#site_header-header {
    width: 80%;
    height: 14%;
    margin: auto;
}

#site_header-header img {
    position: absolute;
    left: 80px;
    top: 50%;
    transform: translate(0, -50%);
}

.header-navbar ul {
    list-style: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header-navbar li {
    display: inline-block;
    margin: 0 1rem;
    font-size: var(--site_header-header-font-size);
}

.header-navbar a {
    color: white;
}

#header-log-in-bar {
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translate(0, -50%);
    font-size: var(--site_header-header-font-size);
}


/* header-text-container */

.header-text-container {
    background-color: aquamarine;
    width: 45%;
    height: 55%;
    margin: 6% auto;
}


/********
Site_main
*********/

.main-section {
    background-color: yellow;
    height: var(--site_main-section-height);
}

.main-section-container {
    background-color: brown;
    width: 80%;
    height: 80%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.col-img {
    float: left;
    width: 60%;
    height: 100%;
    background-color: bisque;
}

.col-txt {
    float: left;
    width: 40%;
    height: 100%;
    background-color: beige;
}

#main-final-section {
    height: 750px;
}

.row-txt {
    background-color: chartreuse;
    height: 20%;
}

.row-img {
    background-color: cornflowerblue;
    height: 60%;
}


/********
Site_footer
*********/

#site_footer {
    background-color: indigo;
    height: var(--site_footer-height);
    position: relative;
}

.footer-main {
    background-color: pink;
    width: 80%;
    height: 70%;
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
}

.big-footer-col {
    float: left;
    background-color: darksalmon;
    width: 40%;
    height: 100%;
}

.small-footer-col {
    float: left;
    background-color: violet;
    width: 15%;
    height: 100%;
    border-left: solid;
}

.footer-footer {
    background-color: darkorchid;
    width: 80%;
    height: 10%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
}