/* Common */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.pos-rel {
    position: relative;
}

--root {}


/********
Site_header
*********/

#site_header {
    background-color: blue;
    height: 400px;
}

.header-header {
    background-color: aqua;
    width: 80%;
    height: 10%;
    margin: auto;
}

.header-text-container {
    background-color: aquamarine;
    width: 45%;
    height: 55%;
    margin: 6% auto;
}


/********
Site_main
*********/

.main-section {
    background-color: yellow;
    height: 500px;
    margin: 20px 0;
}

.main-section-container {
    background-color: brown;
    width: 80%;
    height: 80%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.col-img {
    float: left;
    width: 60%;
    height: 100%;
    background-color: bisque;
}

.col-txt {
    float: left;
    width: 40%;
    height: 100%;
    background-color: beige;
}

#main-final-section {
    height: 750px;
}

.row-txt {
    background-color: chartreuse;
    height: 20%;
}

.row-img {
    background-color: cornflowerblue;
    height: 60%;
}


/********
Site_footer
*********/

#site_footer {
    background-color: indigo;
    height: 400px;
    position: relative;
}

.footer-main {
    background-color: pink;
    width: 80%;
    height: 70%;
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
}

.big-footer-col {
    float: left;
    background-color: darksalmon;
    width: 40%;
    height: 100%;
}

.small-footer-col {
    float: left;
    background-color: violet;
    width: 15%;
    height: 100%;
    border-left: solid;
}

.footer-footer {
    background-color: darkorchid;
    width: 80%;
    height: 10%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
}


}